.homes {
    display: grid;
    margin: 15rem 0;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
    grid-column: center-start / center-end;
}

.home {
    background-color: $color-grey-light-1;

    &__img {
        width: 100%;
    }

    &__like {

    }

    &__name {

    }

    &__location,
    &__rooms,
    &__area,
    &__price {

        svg {
            fill: $color-primary;
            height: 2rem;
            width: 2rem;
        }

        p {

        }
    }
}